<div class="inscription-container">
    <h2>Inscription d'une entreprise</h2>
    <form #form="ngForm" novalidate (ngSubmit)="onSubmit()">
        <div *ngIf="messageSucces" class="alert-success">
       {{ messageSucces}}
    </div>
     <div *ngIf="messageErreur" class="alert-error">
       {{ messageErreur}}
    </div>
    <div class="mb-3">
        <label for="nom" class="form-label">Nom de l'entreprise</label>
        <input type="text" id="nom" class="form-control" [(ngModel)]="entreprise.nom" name="nom" required/>
    </div>
     <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" id="email" class="form-control" [(ngModel)]="entreprise.email" name="email" required/>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="entreprise.password" name="password" required
        minlength="8" (input)="validatePassword()">
        <div *ngIf="passwordError" class="text-danger">{{ passwordError }}</div>
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmer le mot de passe</label>
        <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" required
        minlength="8" (input)="validatePassword()">
        <div *ngIf="confirmError" class="text-danger">{{ confirmError }}</div>
    </div>
     <div class="mb-3">
        <label for="telephone" class="form-label">Téléphone</label>
        <input type="text" id="text" class="form-control" [(ngModel)]="entreprise.telephone" name="telephone" required/>
    </div>
     <div class="mb-3">
        <label for="type" class="form-label" >Type</label>
        <select id="type" class="form-select"  [(ngModel)] ="entreprise.type" name="type" (ngModelChange)="onTypeChange()" required>
            <option [ngValue]="entreprise.type"> -Choisissez un type- </option>
            <option *ngFor="let t of types" [ngValue]="t"> {{t.nom}}</option>
        </select>
    </div>
     <div class="mb-3">
        <label for="categorie" class="form-label">Catégorie</label>
        <select [disabled]="!categoriesFiltrees.length"  [(ngModel)]= "entreprise.categorie" id="categorie" class="form-select"  name="categorie" required>
            <option [ngValue]="entreprise.categorie" disabled selected> -Choisissez une catégorie- </option>
            <option *ngFor="let c of categoriesFiltrees" [ngValue]="c"> {{c}}</option>
        </select>
    </div>
     <div class="mb-3">
        <label for="description" class="form-label"> Description</label>
        <textarea id="description" class="form-control" rows="3" [(ngModel)]="entreprise.precision" name="description" >
        </textarea>
    </div>
    <button type="submit" class="btn btn-success" > 
         <i class="fas fa-paper-plane"> </i>
        Envoyer
    </button>
</form>
</div>
