<div class="modal-backdrop" >
<div class="modal-content"  >
<h2>Inscription</h2>
<form (ngSubmit)="inscrire()">
    
    
        <input type="text" placeholder="Nom" name="entname"  [(ngModel)]="entname" required/>
        
         <select [(ngModel)]="type" name="type" required>
             <option [value]="type" disabled selected>type de la structure</option>
              <option *ngFor="let s of types" [ngValue]="s">{{ s.valeur }}</option>
         </select>
          <select *ngIf="type.valeur==='educatif'" [(ngModel)]="edu" name="edu" required>
             <option value="" disabled selected> Infrastructures éducatives</option>
              <option *ngFor="let e of education" [value]="e">{{ e }}</option>
         </select>
         <select *ngIf="type.valeur==='Administratif'" [(ngModel)]="adm" name="adm" required>
             <option value="" disabled selected>Infrastructures administratives</option>
              <option *ngFor="let a of admin" [value]="a">{{ a }}</option>
         </select>

           <select *ngIf="type.valeur==='santé'" [(ngModel)]="san" name="san" required>
             <option value="" disabled selected>Infrastructures de santé</option>
              <option *ngFor="let st of sante" [value]="st">{{ st }}</option>
         </select>
         
           <select *ngIf="type.valeur==='énergie/hydraulytique'" [(ngModel)]="en" name="en" required>
             <option value="" disabled selected>Infrastructures d'énergie/hydraulytique</option>
              <option *ngFor="let hy of enerHydrau" [value]="hy">{{ hy }}</option>
         </select>
         
           <select *ngIf="type.valeur==='sport/culture'" [(ngModel)]="sp" name="sp" required>
             <option value="" disabled selected>Infrastructures de sport et culture</option>
              <option *ngFor="let sc of sportCulture" [value]="sc">{{ sc }}</option>
         </select>
         
           <select *ngIf="type.valeur==='transport'" [(ngModel)]="trans" name="trans" required>
             <option value="" disabled selected>Infrastructures de transport</option>
              <option *ngFor="let t of transport" [value]="t">{{ t }}</option>
         </select>
         
           <select *ngIf="type.valeur==='commerce'" [(ngModel)]="com" name="com" required>
             <option value="" disabled selected>Infrastructures de commerce</option>
              <option *ngFor="let c of commerces" [value]="c">{{ c }}</option>
         </select>

          <select *ngIf="type.valeur==='services'" [(ngModel)]="ser" name="ser" required>
             <option value="" disabled selected>Infrastructures de service</option>
              <option *ngFor="let se of services" [value]="se">{{ se }}</option>
         </select>
         
       
       
        

         
       
         
        <input type="text" placeholder="Numero" name="entnum"  [(ngModel)]="entnum" required/>
        <input type="email" placeholder="Email" name="entemail"  [(ngModel)]="entemail" required/>
<input type="password" placeholder="Mot de passe" name="entpassword"  [(ngModel)]="entpassword" required/>
<button type="submit">S'inscrire</button>
<button type="button" >Annuler</button>
   
    


</form>
</div>
</div>
