*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}


section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}


h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}